<div draggable="true" id="<%= task_id %>"class="task">
  <li class="debug">
    <a href="#<%=title.gsub(/\s+/, "")%>"><h4><%= title %></h4></a>
    <div id="<%=title.gsub(/\s+/, "")%>" style="display: none">
      <%= detail %>
    </div>
  </li>
</div>
