  <div draggable="true" id="<%= task_id %>"class="task">
    <li class="debug">
      <a href="#<%=title%>"><h4><%= title %></h4></a>
      <div id="<%=title%>" style="display: none">
        <%= detail %>
      </div>
    </li>
  </div>
