<h1> Your current projects </h1>

<% if logged_in? %>
  <% unless @projects.empty? %>
    <ul>
      <% @projects.each do |project| %>
        <li><a href="/projects/<%= project["id"] %>" ><%= project["title"] %></a></li>
      <% end %>
    </ul>
  <% end %>
  <%= erb :_add_project %>

<%= erb :"users/_logout" %>
<% else %>
  <%= erb :"/users/_login" %>
  <%= erb :"/users/_signup" %>
<% end %>


<h4> Deeeeeeeecoupling </h4>
