<div class="debug">

    <div class="p-xxl bgc-cool bx-sh debug">
        <h1 class="fz-lg debug"> Gopherban </h1>
        <div class="fl-l dis-in debug">
            <form action="/" method="get" id="home" class="debug">
                <input type="submit" value="Home" class="bx-sh-hd debug"/>
            </form>
        </div>
        <div class="fl-r dis-in debug">
            <form action="/logout" method="post" id="logout" class="debug">
                <input type="submit" value="Log Out" class="bx-sh-hd debug"/>
            </form>
        </div>
    </div>

    <main role="main" id="main" class="container p-sm row gutters-t gutters-d debug">
        <div id="Icebox" class="stage col span-3-t bx-sh debug">
            <ul class="lis-n debug">
                <h3 class="debug">Icebox</h3>
                <%= erb :"partials/_list_tasks", locals: { tasks: @task_set.select {|task| task["stage"] == "Icebox"} } %>
            </ul>
        </div>

        <div id="Development" class="stage col span-3-t bx-sh debug">
            <ul class="lis-n debug">
                <h3 class="debug">Development</h3>
                <%= erb :"partials/_list_tasks", locals: { tasks: @task_set.select {|task| task["stage"] == "Development" } } %>
            </ul>
        </div>

        <div id="Testing" class="stage col span-3-t bx-sh debug">
            <ul class="lis-n debug">
                <h3 class="debug">Testing</h3>
                <%= erb :"partials/_list_tasks", locals: { tasks: @task_set.select {|task| task["stage"] == "Testing" } } %>
            </ul>
        </div>

        <div id="Deployed" class="stage col span-3-t bx-sh debug">
            <ul class="lis-n debug">
                <h3 class="debug">Deployed</h3>
                <%= erb :"partials/_list_tasks", locals: { tasks: @task_set.select {|task| task["stage"] == "Deployed" } } %>
            </ul>
        </div>
        <%= erb :"/partials/_add_task", locals: {project_id: params[:id] } %>

        <div id="taskform" class="col span-3-t p-sm fl-r bx-sh debug" style="display: none">
            <form action='/projects/<%= params[:id] %>/tasks' method='post' id="taskroute">
                <select name="stage">
                  <option value="Icebox">Icebox</option>
                  <option value="Development">Development</option>
                  <option value="Testing">Testing</option>
                  <option value="Deployed">Deployed</option>
                </select>
                <input type='text' name='title' placeholder='Title'/>
                <textarea name='description' placeholder='Description'></textarea>
                <input type='submit' value='Submit' class="createtask"/>
            </form>
        </div>
    </main>


</div>

